# Archivos de configuración específicos del entorno
*.iml
/local.properties
/.idea/
/.DS_Store

# Cachés y configuraciones internas
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Archivos de compilación y temporales
/build/
/captures/
/.externalNativeBuild/
/.cxx/
/.gradle/

# Archivos de sistema
*.log
*.tmp
